* {
    padding: 0px;
    margin: 0px;
}

html {
    background-color: skyblue;
}

.wrapper {
    display: grid;
    /* grid-template-columns: 30rem 30rem 30rem; */
}

#div_k1 {
    padding: 2em;
}



#div_k2 {
    padding: 2em;
}

#rez {
    padding: 2em;
}